$link-color:#749EE2;
$size : 16px;
$black: black;
$orange:orange;
$aqua:aqua;
$pink:pink;
body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.navbar{
      display: grid;
      margin-top:0.5 * $size;
      grid-template-columns: auto auto auto auto;
        .left-bar{
        grid-column:1 / 4
   
         }
         .register{
             > a{
                 text-decoration: none;
                 color:$link-color;
                 text-align: center;
                padding-top:0.5 * $size;
                padding-bottom:0.5 * $size;
                padding-left:0;
                padding-right:0;
                 width:33%;
                 float:right;
                 margin-top:0.5 * $size;
                 border:1px solid $link-color;
                 margin-right:0.5 * $size;
                 font-weight:bold;
                 box-shadow:6px 6px 3px rgba(225,224,224,0.7);


             }
             > img {
                 float:right;
                 margin:0.2 * $size;
                 width:2.75 * $size;
             }
         }
      
    }

@media screen and (max-width:1075px){
    .register{
        display: none;
    }
    
}
@media screen and (max-width:930px){
   .search-area{
      visibility: hidden;
   }
   .left-bar{
       a:last-child{
           display: none;
       }
       a:nth-child(3){
           text-align: end;
       }
   }
}




.left-bar img{
    width: 8.5 * $size

    
}
.left-bar{
    display: flex;
    > a{
      flex-grow:1;
   
    }
   
    > a:last-child{
        text-align: center;
    }
      a{
        text-decoration: none;
        color:$black;
        padding-top:1 *  $size;

       
      }
    
    > .search-area{
        flex-grow:1;
        width:35%;
        height:3 * $size;
        border:1px solid black;
        border-radius: 2 * $size;
        background-color: #EDEDF0;
        font-size:0.9rem;
        display: flex;
        > i{
            padding-top:1 * $size;
            padding-left:1 * $size;
             
        }
      
        > a{
            padding-left:1 * $size;
        }
       

}
}


.container{
    display: grid;
    margin-top:2 * $size;
    grid-template-columns: 20% 80%;
    height:500px;
   
}

.sidebar{
   
    padding-top:0.3rem;
  
        h2{
            width:90%;
            border-radius:5px;
            color:$link-color;
            text-align: center;
             padding:5px 8px;
             margin:0 auto;
             box-sizing: border-box;
             border:1px solid $link-color;
            
            
        }
        li{
            list-style: none;
            padding:5px 0;
        }
    
}




.options{
    display: grid;
    height:2rem;

    padding-top:0.5rem;
    grid-template-columns: 50% 50%;
    .right-options, .left-options{
        
        a{
            padding:0.5 * $size;
            border:1px solid lightgray;
           
          margin-top:50px;
            
            font-size:1 * $size;
            text-decoration: none;
            color:$link-color;
            border-radius: 0.1 * $size;
        }
       
        .left-options a:nth-child(3){
            margin-right:2rem;
        }
    }
}
.right-options{
    a{
        background-color: #EBF2FF;
    }
    a:nth-child(2){
        background-color: white;
        box-shadow: 5px 5px 3px rgba(235,235,235,0.7);
    }
    a:last-child{
        background-color: white;
        box-shadow:5px 5px 3px rgba(235,235,235,0.7)
    }
}
.right-options a:first-child{
    margin-left:12rem;
}
@media screen and (max-width:1270px){
    .right-options{
        display: none;
    }
    .options{
        grid-template-columns: 100%;
    }
}


.related{
    display: grid;
    height:2rem;
    padding-top:0.8rem;

        
        a{
            padding:0.3 * $size;
            border:1px solid black;
            background-color: rgb(252,252,252);

            margin-left:0.5 * $size;
            font-size:1 * $size;
            text-decoration: none;
            color:gray;
            border-radius: 1 * $size;
            background-color: rgb(160, 252, 221);
              
        }
        a:first-child{
            margin-left:1 * $size;
        }
       
    
    }
@media screen and (max-width:980px){
    .sidebar h2{
        font-size:80%;
    }
}
@media screen and (max-width:940px){
    .related{
        display: none;
    }
}
@media screen and (max-width:650px) {
    .container{
        grid-template-columns: 30% 70%;
    }
    
}
@media screen and (max-width:570px){
    .left-options a span{
        display: none;
    }
}


    .row{
        height:25rem;
        margin-bottom:4rem;
        display: flex;
        margin-top:1rem;
        justify-content: space-evenly;
   

        .box{
            width:25%;
            
            box-sizing:border-box;
 margin:0.5 * $size;           
            height:28rem;
         
            img{
                width:80%;
                margin-left:0.7rem;
                margin-top:0.5rem;
                object-fit:cover;
                border-radius: 1 * $size;;
            }
            p{
                margin-bottom:0.3rem;
            }
            h2{
                margin:0.2rem 0;
                margin-left:0.2rem;

                font-weight: bolder;
            }
            h6{
                margin-left:0.2rem;

                font-weight: bold;
                color:gray;
            }
            i{
                color:orange;
            }
            i:last-child{
                color:red;
            }
            a{
                text-decoration: none;
                color:$link-color;
                padding-right:0.7rem;
            }
            a:last-child{
                text-align:right;
                padding:0.25rem 0.5rem;
                border:1px solid $link-color;
            }
        }
   
    }
@media screen and (max-width:1320px){
    .box:last-child{
        display: none;
    }
            

}
@media screen and (max-width:1160px){
    .box:nth-child(3){
        display: none;
    }
    .row .box{
        width:41%;
    }
}
@media screen and (max-width:710px){
    .box:nth-child(2){
        display: none;
    }
    .row .box{
        width:68%;
    }
}
.footer-section{
    width:90%;
    margin:0 auto;
    height:200px;
   
    
    
    div{
        width:30%;
        float:left;
        height:12 * $size;
        margin:5px;
        background-color:rgb(232,232,232);
        img{
            display: block;
            margin:15px auto;
            
        }
        img[src="Vector8.png"]{
            margin-bottom:28px;
        }
        h3,h6{
            text-align: center;
        }
    }

        
}
@media screen and (max-width:530px){
    .footer-section div h6{
        display: none;
    }
}