/* .App {
  text-align: center;
  margin-top: 10%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  position: relative;
  
}
.container{
  margin-top:1rem;
  padding:0;
  background-color: #F0F5FB;

}
.col-5:nth-child(2){
  padding-right:0;
  padding-left:0;
}
.row ul, .row ol{
  margin:0 auto;
  padding-left:0;
  text-align: center;
}
.row ul li, .row ol li{
list-style-type: none;
display: inline;
}
.row ul li a, .row ol li a{
  text-decoration: none;
  padding:1rem;
  color:black;
}
.row ul li a:hover, .row ol li a:hover{
  text-decoration: none;
  padding:1rem;
  color:#F87545
}

.row{
  margin:0;
  margin-bottom:3rem;
  padding-left:2rem;
  padding-right:2rem;
}
.col-5{
  padding-top:2rem;
  padding-right:0;
}

.col-5 li i{
  padding:0.5rem;
  background-color: #F87545;
  border-radius: 50%;
  color:white;
}
.col-2{
  padding:0;
}
.col-5 ol li:last-child a{
  font-weight: bolder;
}
.intro{
  margin-top:7rem;


}
.intro h1, .intro h5{
  text-align:center;
  font-family: Montserrat;
}
.intro h1{
  font-size:3rem;
  font-weight: bold;
}
.intro h5{
  margin-bottom:1rem;
  padding:1rem 16rem;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  z-index:5;
}
.tomato{
  position:absolute;
  width:10%;
  top:4%;
  left:-4%;
}
.olives{
  position:absolute;
  width:15%;
  top:15%;
  left:17%;
}
.garlic{
  position:absolute;
  width:10%;
  top:20%;
  left:7%;
  z-index:2;
}
.mushroom{
  position:absolute;
  width:7%;
  top:22%;
  z-index:0;
  left:12%;
}
.cucumber{
  position:absolute;
  width:15%;
  top:8%;
  right:3%;
}
.pizza{
  position:absolute;
  width:6%;
  top:22%;
  right:4%;
}
.sales{
  margin-top:-4rem;
  background-color: white;
}
.sales h1{

  padding-top:5rem;
      text-align: center;
      margin-bottom:5rem;
}
.card{
  cursor: pointer;
}
.card img{
  width:70%;
  margin:1.5rem auto 1rem 20%;
}
.card-text{
  margin-bottom:2rem;
}
.card-title a{
  text-decoration: none;
  color:black;
}
.card-title a:hover{
  color:#F87545;
}
.card-link{
  text-decoration: none;
  color:black;
  padding-bottom: 2.5rem;
  font-weight: 400;
  font-size:1.3rem;
}
.card-link::before{
  content: "$"
}
.amount::before{
  content: "$"
}
.card-link:hover{
  color:#F87545
}
.productprice::before{
  content : "$"
}
#sum::before{
  content : "$"
}

.card{
  position: relative;

}
.card-body{
  z-index:5;
}
.card span.design{
  width:60px;
  height:60px;
  position:absolute;
  bottom:-6%;
  left:40%;
  z-index:-5;
  transform:rotate(45deg);
  border-radius:10px;
  background-color: white;
 
}
.card i{
  width:40px;
  height:40px;
  position:absolute;
  bottom:-3%;
  z-index:10;
  left:44%;
  z-index:6;
  border-radius: 50%;
  border:1px solid gray;
  padding-top:0.7rem;
  padding-left:0.7rem;
  background-color: white;
  color:#F87545;
}
.second-line{
  padding-top:3rem;
}

.basket{
  position: absolute;
  right:5%;
  top:32%;
}
.basket a {
color:white;
text-decoration: none;
padding:0.4rem 1.5rem;
background-color: #3F3F3F;
border-radius: 5px;
margin-right:1rem;
font-weight: bolder;

}
.basket a:hover{
  color:#F94D1D;
} 
.basket i{
  padding:1.5rem;
  border-radius: 50%;
  background-color: white;
  color:#F94D1D;
  font-size:2rem;
  box-shadow: 7px 5px 5px gray;
}
.basket span{
  position: absolute;
  bottom:-11%;
  right:4%;
  padding:0.2rem 0.8rem;
  background-color: #F94D1D;
  border-radius: 50%;
  font-weight: bold;
  color:white;
}
#cart{
  position: absolute ;
  width:25rem !important;
  margin-left:-8%;
  top:37%;
}
td span{
  width:60px;
  height:60px;
  background-color: white;
  transform: rotate(1deg);
}
h3 a{
  color:black;
  text-decoration: none;
  font-size:1.3rem;
  padding-left:11rem;
}
.size{
  font-size:0.8rem;
  display: block;
  height:10px;
}
.card-body button{
  width:80%;
  padding:0.4rem 0;
  text-align: center;
  margin:1rem auto;
  border-radius:2rem;
  font-weight: bold;

}



.contact{
  padding-top:7rem;
  background-color: white ;
}
.contact div{
  background-color: #F0F5FB;
}
.contact div h1{
  text-align: center;
  margin-bottom:3rem;
  padding-top:2rem;
  font-size: 40px;
  font-weight:600;
}

.contact div form{
  margin:0 auto;
  display: flex;
  justify-content: center;
}
.contact div form input {
  margin: 0 1rem;
  border-radius: 2rem;
  border:1px solid gray;
  outline: none;
  padding:0.7rem 4rem 0.7rem 0.5rem;
}
.contact div form button {
  background-color: #F94D1D;
  color:white;
  padding:0.7rem 5rem 0.7rem 5rem;
  margin: 0 1rem;
  border-radius: 2rem;
  border:1px solid gray;
  outline: none;
  font-weight: bold;
  font-size:1.2rem;
}
.contact div form button i{
  padding-left:0.6rem;
  font-size:1.2rem
}
.contact div img.car{
  margin:3rem auto 1rem auto;

  display: flex;
  justify-content: center;

}
.contact div img.right-side{
  position: absolute;
  top:86%;
  right:0%;
  width:19%;
}
.contact div img.left-side{
  position: absolute;
  bottom: 0%;
  left:0%;
  width:19%;

}



.selection{
  display: none;
}

.card:hover .selection{
  display: flex;
  position: relative;
  top:0;
  left:0;
}

.table{
  height:100px;
  z-index:5;
  text-overflow: clip;
  overflow-y: auto;
}
.card-header{
  display: none;
  transition: all 1s;
}
.card-img-top:hover{
  display: none;
}
.card:hover .card-img-top{
  display: none;
}
.card:hover .card-header{
  display: block;
}